* {
  font-family: "FiraCode Medium";
  font-size: 16px;
  min-height: 20px;
  background-color: transparent;
  border-radius: 0px; }

window#waybar {
  color: white;
  background-color: transparent; }

#workspaces button {
  background: #221C35;
  color: white;
  margin: 2px;
  border-radius: 16px;
  padding: 2px; }
  #workspaces button:hover {
    background-color: rgba(34, 28, 53, 0.5); }
  #workspaces button.focused {
    color: MediumOrchid;
    background-color: #221C35; }
  #workspaces button.urgent {
    background-color: red;
    color: white; }

button {
  background: #221C35;
  color: white;
  margin: 0px 0px;
  margin-right: 2px;
  border-radius: 8px; }
  button:hover {
    background-color: rgba(34, 28, 53, 0.5); }

tooltip {
  background-color: #221C35;
  border: 2px solid MediumOrchid;
  border-radius: 8px; }

#clock {
  background: #221C35;
  margin-right: 1px;
  border-radius: 8px 0 0 8px;
  padding: 0 4px; }

#custom-weather {
  background: #221C35;
  margin-left: 1px;
  border-radius: 0 8px 8px 0;
  padding: 0 4px; }

#custom-notification {
  margin-right: 2px;
  background-color: #221C35;
  margin: 0;
  padding: 0 4px;
  border-radius: 0 8px 8px 0; }

.modules-left {
  background-color: #221C35;
  background-image: linear-gradient(yellow, white, purple, black);
  margin: 2px;
  padding: 0 0px;
  border-radius: 8px; }
  .modules-left > widget:first-child > #workspaces {
    margin-left: 0; }
  .modules-left > widget:first-child > #custom-menu {
    margin-left: 0; }

.modules-center {
  background-color: #221C35;
  background-image: linear-gradient(black, MediumOrchid, black);
  margin: 2px;
  padding: 0px;
  border-radius: 8px; }

.modules-right {
  background-color: #221C35;
  background-image: linear-gradient(black, MediumOrchid, black);
  margin: 2px;
  padding: 0;
  border-radius: 8px; }

#network {
  background-color: #221C35;
  margin-right: 2px;
  padding: 0 4px;
  border-radius: 8px 0 0 8px; }
  #network.disconnected {
    color: red; }

#cpu, #temperature, #memory, #pulseaudio,
#backlight, #battery, #tray {
  margin-right: 2px;
  padding: 0 4px;
  background-color: #221C35;
  border-radius: 0px; }

#network:hover, #pulseaudio:hover,
#battery:hover, #custom-notification:hover {
  background-color: transparent; }

#custom-menu {
  color: white;
  background-color: #221C35;
  padding: 4 8px;
  margin: 0px 2px;
  border-radius: 8px 0 0 8px; }
  #custom-menu:hover {
    background-color: rgba(34, 28, 53, 0.5);
    background-image: linear-gradient(black, MediumOrchid, black); }

#custom-separator {
  color: MediumOrchid; }

#battery icon {
  color: red; }

#battery.critical:not(.charging) {
  color: red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

#battery.charging, #battery.plugged {
  color: green; }

#battery.warning:not(.charging) {
  color: yellow;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

label:focus {
  background-color: black; }

#temperature.critical {
  color: #eb4d4b; }

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436; }

#tray > .passive {
  -gtk-icon-effect: dim; }

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b; }

#tray * {
  padding-left: 0px;
  padding-right: 0px; }
