$bg-color: #c0c0c0;
$bg-hover: #808080;
$fg-color: black;
$shadow: #808080;
$dark-shadow: black;
/* The name of the window itself */
#window {
	background-color: transparent;
	/*box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);*/
	font-size: 1.2rem;
	/* The name of the box that contains everything */
	#outer-box {
		margin: 8px;
		background-color: $bg-color;
		/* The name of the search bar */
		#input {
			background-color: white;
			color: $fg-color;
			border-radius: 0;
			padding: 0.8rem 1rem;
			margin: 8px;
			font-size: 1.5rem;
			box-shadow: -1px -1px white inset, 2px 2px $dark-shadow inset;
			&:focus, &:focus-visible, &:active {
				outline: 2px solid transparent;
			}
		}

		/* The name of the scrolled window containing all of the entries */
		#scroll {
		margin: 8px;
			/* The name of the box containing all of the entries */
			background-color: $bg-color;
			scrollbar {
				&:focus, &:hover {
					background: rgba(255,255,255,0.1);
				}
			}
			#inner-box {
				/* The name of all entries */
				#entry {
					border-radius: 0;
					color: $fg-color; 
					background-color: $bg-color;
					box-shadow: 1px 1px white inset, -2px -2px $shadow inset;
					padding: 0.5rem;

					/* The name of all images in entries displayed in image mode */
					#img {
						width: 2rem;
						margin-right: 0.5rem;
						margin-left: 0.5rem;
					}
					/* The name of all the text in entries */
					#text {
						padding: 10px;
					}
					&:selected {
						background-color: $bg-hover;
						box-shadow: 2px 2px $dark-shadow inset;
					}
					
				}
				/* The name of all boxes shown when expanding  */
				/* entries with multiple actions */
				#expander-box {
					border-radius: 0;
					color: $fg-color; 
					background-color: $bg-color;
					box-shadow: 1px 1px white inset, -2px -2px $shadow inset;
					padding: 0.5rem;
				}
			}
		}
	}
}



